<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="14" android:versionName="0.0.14" package="com.samprcon" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="SA-MP RCON"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>